body {
    background-image: url("../images/background3.png");
    /* besoin d'aide la dessus l'image ne prends pas toute la place ou deviens coupé en étant trop grosse*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
    color: var(--text-color);
    font-family: var(--font-family);
}



.navigation {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.navigation a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    background-color: black;
    border-radius: 4px;
    padding: 0.5%;
    color: gold;

}

.navigation a:hover {
    animation: scale-anim 1.4s infinite;
}


@keyframes scale-anim {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(0.8);
    }

}