/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CURSOR SETUP */
html {
    cursor: url("../images/cursor.png"), auto;
}

button,
a {
    cursor: url("../images/hover_cursor.png"), auto;
}

/* CSS ENV VARIABLES */
:root {
    --font-family: "Press Start 2P", cursive;
    --font-family-2: "Jersey 10", sans-serif;
    --bg-color: #222831;
    --bg-color-alt: #1c1c1c;
    --text-color: #FFCA1C;
    --text-color-alt: #393e46;
    --primary-color: #00adb5;
    --primary-color-alt: #0096c5;
    --secondary-color: #393e46;
    --secondary-color-alt: #515a61;
    --accent-color: #ff7f00;
    --accent-color-alt: #ffc107;
}

body {
    background: url("/src/images/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    font-family: var(--font-family);
}

p {
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    border-radius: 10px;
    padding: 65px;
    gap: 5px;
}

ul {
    text-align: center;
    text-decoration: none;
}

li {
    margin: 5px;
    padding: 5px;
    list-style-type: none;
}

strong {
    font-size: 1.1rem;
    color: blue;
    -webkit-text-stroke: 0.1px black;
}

header h1 {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.pixelarticons--book-open {
    height: 50px !important;
    width: 50px !important;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

.pixelarticons--arrow-left,
.pixelarticons--arrow-right {
    height: 30px !important;
    width: 30px !important;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.navigation a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    background-color: black;
    border-radius: 4px;
    padding: 0.5%;

}

.navigation a:hover {
    animation: scale-anim 1.4s infinite;
}

.coursM {
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: black;
    background-color: #FFCA1C;
    border: 10px solid black;
}

@keyframes scale-anim {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(0.9);
    }

}

/*
@keyframes press-blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
*/