/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CURSOR SETUP */
html {
    cursor: url("./images/cursor.png"), auto;
}

button,
a {
    cursor: url("./images/hover_cursor.png"), auto;
}

/* CSS ENV VARIABLES */
:root {
    --font-family: "Press Start 2P", cursive;
    --font-family-2: "Jersey 10", sans-serif;
    --bg-color: #222831;
    --bg-color-alt: #1c1c1c;
    --text-color: #FFCA1C;
    --text-color-alt: #393e46;
    --primary-color: #00adb5;
    --primary-color-alt: #0096c5;
    --secondary-color: #393e46;
    --secondary-color-alt: #515a61;
    --accent-color: #ff7f00;
    --accent-color-alt: #ffc107;
}
p{
    text-align: center;
}
body {
    background-image: url("images/background3.png"  ) ;/* besoin d'aide la dessus l'image ne prends pas toute la place ou deviens coupé en étant trop grosse*/
    background-repeat: no-repeat;
    
    color: var(--text-color);
    font-family: var(--font-family);
}

#hercule-popup {
    bottom: 0;
    position: fixed;
    height: 200px;
    width: min-content;
    min-width: 800px;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--text-color);
    font-family: var(--font-family-2);
    border: black solid;;
     border-width: 12px 11px 10px 0px;


}

#hercule-popup picture {
    transform: translateY(-25%);
}

#hercule-popup p {
    padding: 1.5rem;
    font-size: 2rem;
    color: var(--bg-color);
}

main {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
}

h1 {
    padding-top: 10px;
    font-size: 4rem;
    text-transform: uppercase;
    width: min-content;
    text-align: center;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

#start-game-btn {
    display: flex;
    align-items: center;
    margin: auto;
    outline: none;
    border: none;
    background-color: transparent;
    color: black;
    background-color: #FFCA1C;
    border: 4px solid black;
    font-family: var(--font-family);
    font-size: 2rem;
    text-transform: uppercase;
    animation: press-blink 1.4s steps(1) infinite;
    text-decoration: none;
}

.pixelarticons--chevron-right {
    height: 50px !important;
    width: 50px !important;
}

@keyframes press-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}